header {
	background-image: url('../img/backgrounds/rutland.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #71ACBD;
}

header .dark {
	background: none;
}

footer {
	background-image: url('../img/backgrounds/bottom.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #2c3e50;
}

#help {
	background-image: url('../img/backgrounds/help.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #71ACBD;
}

#committee {
	background-image: url('../img/backgrounds/mountain.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #71ACBD;
}

header .intro-text .name, .dark h2 {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #2c3e50;
}

a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	color: #71ACBD;
}

.dark a, a:hover, .dark a:focus, .dark a:active, .dark a.active {
	outline: 0;
	color: #2c3e50;
}

.dark {
	background: #71ACBD;
	color: #fff;
}

.light {
	background: #fff;
	color: #2c3e50;
}

hr.cog {
	border: none;
	margin: 25px auto 30px;
	max-width: 250px;
	height: 5px;
	text-align: center;
	padding: 0;
}

hr.cog:after {
	content: "\f013";
	display: inline-block;
	position: relative;
	top: -.6em;
	padding: 0 .25em;
	font-family: FontAwesome;
	font-size: 2em;
}

.dark .btn {
	background: #eee;
	color: #2c3e50;
}

.dark hr.cog {
	background-image: url('../img/hr-light.png');
}

.dark hr.cog:after {
	color: #fff;
}

.light hr.cog {
	background-image: url('../img/hr-dark.png');
}

.light hr.cog:after {
	background-color: #fff;
}

#about div.row {
	margin-bottom: 30px;
}

#faire-images img {
	padding: 10px;
}

.support {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.fb-follow {
	padding-left: 20px;
}