---
layout: default
---
<header>
	<div class="container dark">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" src="img/logo-vt-hi-256.png" alt="">
				<div class="intro-text">
					<span class="name">Greater Rutland Makerspace</span>
					<hr class="cog">
					<ul class="social">
						<li><a href="https://www.facebook.com/rutlandmakers/"><img src="img/social/facebook.png">Follow us on Facebook.</a></li>
						<li><a href="http://www.meetup.com/Greater-Rutland-Makerspace/"><img src="img/social/meetup.png">Join our Meetup group.</a></li>
						<li><a href="http://eepurl.com/chXoc9"><img src="img/social/email.png">Join our mailing list.</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
	
{% include pumpkins.html style="light"%}
{% include velco.html style="light"%}
{% include about.html style="dark"%}
{% include help.html style="light"%}
{% include people.html style="dark"%}
{% include support.html style="light"%}









