#rutland {
	z-index: 6;
	height: 100vh;
	z-index: 0;
}

#rutland div.logo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#rutland .parallax__layer {
	
}

#rutland .parallax__layer--f1 {
	filter: none;
}

#rutland .parallax__layer--b1 {
	background-image: url('../rutland/6.png');
	background-size: cover;
	background-position: bottom;
}

#rutland .parallax__layer--b2 {
	background-image: url('../rutland/5.png');
	background-size: cover;
	background-position: center;
}

#rutland .parallax__layer--b3 {
	background-image: url('../rutland/4.png');
	background-size: cover;
	background-position: center;
}

#rutland .parallax__layer--b4 {
	background-image: url('../rutland/3.png');
	background-size: cover;
	background-position: center;
}

#rutland .parallax__layer--b5 {
	background-image: url('../rutland/2.png');
	background-size: cover;
	background-position: top;
}

#rutland .parallax__layer--b6 {
	background-image: url('../rutland/1.png');
	background-size: cover;
	background-position: top;
}

#rutland .parallax__layer--b7 {
	background-color: #71acbd;
	background-image: url('../rutland/0.png');
	background-size: cover;
	background-position: top;
}