<section id="about" class="{{include.style}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>About</h2>
				<hr class="cog">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p>A group of Rutland area residents and local organizations, led by Rutland Economic Development Corporation
					(REDC) and Castleton University, are working to start a Makerspace in Rutland, VT.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-lg-offset-2">
				<h4>What is a Makerspace?</h4>
				<p>A Makerspace is more than just a shared workshop with all the tools you don't have space for or couldn't
					afford on your own. A Makerspace is a community of people sharing their knowledge, experience, and ideas in
					addition to tools, equipment, and workshop space. Its members are a diverse group featuring hobbyists, DIY
					enthusiasts, local school representatives and students as well as start-up, non-profit, and for-profit companies.</p>

			</div>
			<div class="col-lg-3">
				<h4>Classes &amp; Equipment:</h4>
				<ul>
					<li>3D Printers</li>
					<li>Laser Cutters</li>
					<li>Woodworking</li>
					<li>Metalworking</li>
					<li>Welding</li>
					<li>Electronics</li>
					<li>Jewelry Making</li>
					<li>Programming</li>
					<li>CNC &amp; Computer-Aided Design</li>
					<li><i>Much More!</i></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p>Access to the space and equipment is available to everyone for a monthly, or yearly, membership fee, with
					the option to reserve personal workbench or small office space for an additional fee.</p>
				<p>Members of the community, as well as of the Makerspace, would also be offered opportunities to teach or
					enroll in classes in related fields and proper equipment use.</p>
			</div>
		</div>
	</div>
</section>