<section id="help" class="{{include.style}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Get Involved</h2>
				<hr class="cog">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">

				<p>The most important part of a Makerspace is you! For the Greater Rutland Makerspace to succeed, we need a
					group of interested, excited members who want to learn new skills and share their skills through mentoring others
					or teaching classes. Whether you are a hobbyist with dreams that are too big for your basement, an innovator that
					just needs the space and resources to get your new business up and running, or an outgoing individual that loves
					working with on projects with others, we want you to join us!</p>

				<p>Please stay in touch with us:</p>

				{% include social.html %}
					
			</div>
		</div>
	</div>
</section>