<section id="people" class="{{include.style}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>People</h2>
				<hr class="cog">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>Committee Chair</h4>
				<p class="person">
					<span class="name">Lyle Jepson</span><span class="where">Castleton University <br>Rutland Economic
						Development Corporation
					</span><a class="email" href="mailto:lyle.jepson@castleton.edu">lyle.jepson@castleton.edu</a>
				</p>

				<h4>Committee Members</h4>
				<ul>
					<li class="person"><span class="name">Mike Coppinger</span><span class="where">Executive Director,
							Downtown Rutland Partnership</span><a class="email" href="mailto:mcoppinger@rutlanddowntown.com">
							mcoppinger@rutlanddowntown.com</a></li>

					<li class="person"><span class="name">Brennan Duffy</span><span class="where">Executive Director,
							Rutland Redevelopment Authority</span><a class="email" href="mailto:duffyrra@rutlandvtbusiness.com">duffyrra@rutlandvtbusiness.com</a></li>

					<li class="person"><span class="name">Mark Foley, Jr.</span><span class="where">President, Foley
							Family of Businesses</span><a class="email" href="mailto:mfoleyjr@foleylinen.com">mfoleyjr@foleylinen.com</a></li>

					<li class="person"><span class="name">Rick Gile</span><span class="where">Two Bad Cats, LLC</span><a
						class="email" href="mailto:rgile1@aol.com">rgile1@aol.com</a></li>

					<li class="person"><span class="name">Peter Amons</span><span class="where">Chief Financial Officer,
							Rutland Public Schools</span><a class="email" href="mailto:pamons@rutlandhs.k12.vt.us">pamons@rutlandhs.k12.vt.us</a></li>
				</ul>

				<h4>Operations Group</h4>
				<ul>
					<li class="person"><span class="name">Pete Gile</span><span class="where">Two Bad Cats, LLC.</span><a
						class="email" href="mailto:pete@twobadcatsllc.com">pete@twobadcatsllc.com</a></li>

					<li class="person"><span class="name">Mindy Hastings</span><span class="where">4-H Educator Rutland
							and Bennington Counties</span><a class="email" href="mailto:mindy.hastings@uvm.edu">mindy.hastings@uvm.edu</a></li>

					<li class="person"><span class="name">Bill Kuker</span><a class="email" href="mailto:bkuker@billkuker.com">bkuker@billkuker.com</a></li>

					<li class="person"><span class="name">Karen McCalla</span><span class="where">Librarian and Tech
							Integrationist, Mill River Union School</span><a class="email" href="mailto:kmccalla@rssu.org">kmccalla@rssu.org</a></li>

					<li class="person"><span class="name">Ron Pulcer</span><span class="where">Software Developer,
							NewsBank, Inc., Chester, VT</span><a class="email" href="mailto:rspulcer_2k@yahoo.com">rspulcer_2k@yahoo.com</a></li>

					<li class="person"><span class="name">Dan Roswell</span><span class="where">Information Technology,
							Rutland High School</span><a class="email" href="mailto:droswell@rutlandhs.k12.vt.us">droswell@rutlandhs.k12.vt.us</a></li>

					<li class="person"><span class="name">Louis Scott</span><a class="email"
						href="mailto:louisscottassociates13@gmail.com">louisscottassociates13@gmail.com</a></li>

					<li class="person"><span class="name">Patricia Aigner</span><span class="where">Director of
							Technology, Rutland City Public Schools</span></li>
				</ul>
			</div>
		</div>
	</div>
</section>