<section id="people" class="{{include.style}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>People</h2>
				<hr class="cog">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>Operations Group</h4>
				<ul>
					<li class="person"><span class="name">Pete Gile</span><span class="where">Two Bad Cats, LLC.</span><a
						class="email" href="mailto:pete@twobadcatsllc.com">pete@twobadcatsllc.com</a></li>

					<li class="person"><span class="name">Mindy Hastings</span><span class="where">4-H Educator Rutland
							and Bennington Counties</span><a class="email" href="mailto:mindy.hastings@uvm.edu">mindy.hastings@uvm.edu</a></li>

					<li class="person"><span class="name">Bill Kuker</span><a class="email" href="mailto:bkuker@billkuker.com">bkuker@billkuker.com</a></li>

					<li class="person"><span class="name">Karen McCalla</span><span class="where">Librarian and Tech
							Integrationist, Mill River Union School</span><a class="email" href="mailto:kmccalla@rssu.org">kmccalla@rssu.org</a></li>

					<li class="person"><span class="name">Ron Pulcer</span><span class="where">Information Technology
							Instructor, Community College of Vermont</span><a class="email" href="mailto:rspulcer_2k@yahoo.com">rspulcer_2k@yahoo.com</a></li>

					<li class="person"><span class="name">Dan Roswell</span><span class="where">Information Technology,
							Rutland High School</span><a class="email" href="mailto:droswell@rutlandhs.k12.vt.us">droswell@rutlandhs.k12.vt.us</a></li>

					<li class="person"><span class="name">Louis Scott</span><a class="email"
						href="mailto:louisscottassociates13@gmail.com">louisscottassociates13@gmail.com</a></li>

					<li class="person"><span class="name">Patricia Aigner</span><span class="where">Director of
							Technology, Rutland City Public Schools</span></li>
				</ul>
			</div>
		</div>
	</div>
</section>
