<ul class="social">
	<li><a href="https://www.facebook.com/rutlandmakers/" title="Follow us on Facebook."><img
				src="/img/social/facebook.png"><span>Follow us on Facebook.</span></a></li>
	<li><a href="http://www.meetup.com/Greater-Rutland-Makerspace/" title="Join our Meetup group."><img
				src="/img/social/meetup.png"><span>Join our Meetup group.</span></a></li>
	<li><a href="http://eepurl.com/chXoc9" title="Join our mailing list."><img src="/img/social/email.png"><span>Join
				our mailing list.</span></a></li>
</ul>