---
id: shop-layout
layout: default
less: /css/default.less
---
<style type="text/css">
	#diagram {
		position: absolute;
		top: 60px;
		bottom: 60px;
		left: 280px;
		right: 25px;
	}
	#diagram > svg {
		width: 100%;
		height: 100%;
	}
	#controls {
		position: absolute;
		top: 60px;
		bottom: 60px;
		left: 20px;
		width: 275px;
	}
	#controls ul {
		list-style: none;
	}
	#controls a {
		cursor: pointer;
	}
	#showAllZones {
		font-weight: bold;
		font-size: larger;
	}
</style>
<div id="diagram">
	{% include_relative space.svg%}
</div>
<div id="controls">
	<h2>Zoom:</h2>
	<ul id="zones">
		<li><a id="showAllZones">Zoom Out</a></li>
	</ul>
	<h2>Layers:</h2>
	<ul id="layers">
	</ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.4.1/d3.min.js"></script>
<script src="layout.js"></script>