@import "colors";

#mainNav {
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	background-color: $header-bg-color;
}

#mainNav a {
	color: $header-text-color;
}

@media ( min-width : 450px) {
	#mainNav a.navbar-brand {
		background-image: url('logo-bw-45.png');
		background-size: auto 45px;
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 70px;
	}
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #1a242f;
}