@import "colors";

ul.social {
	margin-top: 50px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.social img {
	display: inline;
	vertical-align: middle;
	margin: 10px 10px 10px;
}

.social li {
	text-align: left;
	list-style: none;
}

.social a {
	font-size: 18px;
	color: $dark-text-color ! important;
	font-weight: bold;
}

.light .social a {
	color: $light-text-color ! important;
}