h1 , h2 {
	text-transform: uppercase;
}
h1 , h2 , h3 , h4 , h5 , h6 {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.dark {
	background: $dark-bg-color;
	color: $dark-text-color;
}

.dark a h1, .dark a h2 {
	color: $dark-text-color;
}

.light {
	background: $light-bg-color;
	color: $light-text-color;
}

.light a h1, .light a h2 {
	color: $light-text-color;
}