
div.person{
	margin-top: 50px;
}

.person>img {
	width: 150px;
	display: inline-block;
	margin-right: 30px;
	margin-left: 30px;
}

.person>div {
	display: inline-block;
}

.person span.name {
    font-size: 20px;
	font-weight: bold;
}

.person span.where {
	font-style: italic;
	font-size: smaller;
	display: block;
}


.person a.email {
	display: block;
	color: #2c3e50;
}

a.email:before {
	content: "\f003";
	display: inline-block;
	font-family: FontAwesome;
	margin-left: 5px;
	margin-right: 5px;
	font-size: smaller;
}

p.person>span {
	display: block;
}