---
layout: base
less: index.less
---
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header page-scroll">
			<a class="hidden-sm navbar-brand" href="/#page-top">The MINT - Rutland's Makerspace</a> <a
				class="hidden-xs hidden-md hidden-lg navbar-brand" href="/#page-top" title="Greater Rutland Makerspace">The MINT</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden"><a href="#page-top"></a></li>
				<li class="page-scroll"><a href="#calendar">Calendar</a></li>
				<li class="page-scroll"><a href="#about">About</a></li>
				<li class="page-scroll"><a href="#join">Join</a></li>
				<li class="page-scroll"><a href="#people">People</a></li>
				<li class="page-scroll"><a href="#support">Support</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="debug" style="display: none">
	<label><input type="checkbox"> Debug</label>
</div>


<div class="parallax">


	<div id="rutland" class="parallax__group">
		<div class="parallax__layer parallax__layer--b7"></div>
		<div class="parallax__layer parallax__layer--b6"></div>
		<div class="parallax__layer parallax__layer--b5"></div>
		<div class="parallax__layer parallax__layer--b4"></div>
		<div class="parallax__layer parallax__layer--b3"></div>
		<div class="parallax__layer parallax__layer--b2"></div>
		<div class="parallax__layer parallax__layer--b1"></div>
		<div class="parallax__layer parallax__layer--base">
			<div class="logo col-lg-12">
				<img src="logo.png" alt="">
				<div class="name">
					<span class="name">Rutland's Makerspace</span>
				</div>
			</div>
		</div>
	</div>

	<div class="content">{% include calendar.html style="light"%}</div>


	<div class="parallax__group parallax__divider_image">
		<div class="parallax__layer parallax__layer--base">
			<div class="caption">This is a caption for this background image.</div>
		</div>
		<div class="parallax__layer parallax__layer--b1" style="background-image: url('bg/bg - 1.jpg');"></div>
	</div>

	<div class="content">{% include about.html style="light"%}</div>



	<div class="parallax__group parallax__divider_image">
		<div class="parallax__layer parallax__layer--base">
			<div class="caption">This is a caption for this background image.</div>
		</div>
		<div class="parallax__layer parallax__layer--b1" style="background-image: url('bg/bg - 2.jpg');"></div>
	</div>

	<div class="content">{% include join.html style="light"%}</div>



	<div class="parallax__group parallax__divider_image">
		<div class="parallax__layer parallax__layer--base">
			<div class="caption">This is a caption for this background image.</div>
		</div>
		<div class="parallax__layer parallax__layer--b1" style="background-image: url('bg/bg - 3.jpg');"></div>
	</div>


	<div class="content">{% include people.html style="light"%}</div>



	<div class="parallax__group parallax__divider_image">
		<div class="parallax__layer parallax__layer--base">
			<div class="caption">This is a caption for this background image.</div>
		</div>
		<
		<div class="parallax__layer parallax__layer--b1" style="background-image: url('bg/bg - 4.jpg');"></div>
	</div>

	<div class="content">
		{% include support.html style="light"%}
		
		<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-3 col-sm-4 copy">&copy; Rutland Makers 2017</div>
				<div class="col-xs-9 col-sm-8">{% include social.html %}</div>

			</div>
		</div>
		</footer>
	</div>
	
	

</div>

<script>
	var debugInput = document.querySelector("input");
	function updateDebugState() {
		document.body.classList.toggle('debug-on', debugInput.checked);
	}
	debugInput.addEventListener("click", updateDebugState);
	updateDebugState();
</script>
