---
layout: base
---
<div id="wrap">
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header page-scroll">
				<a class="hidden-sm navbar-brand" href="/#page-top">The MINT - Rutland's Makerspace</a> <a
					class="hidden-xs hidden-md hidden-lg navbar-brand" href="/#page-top" title="The MINT - Rutland's Makerspace">The MINT</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="page-scroll"><a href="/">Home</a></li>
				</ul>
			</div>
		</div>
	</nav>

	{{content}}
	<div id="push"></div>
</div>

<footer class="text-center">
	<div class="footer-below">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 col-sm-4 copy">&copy; Rutland Makers 2017</div>
				<div class="col-xs-9 col-sm-8">{% include social.html %}</div>

			</div>
		</div>
	</div>
</footer>