---
layout: base
---
<div id="wrap">
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header page-scroll">
				<a class="hidden-sm navbar-brand" href="/#page-top">Greater Rutland Makerspace</a> <a
					class="hidden-xs hidden-md hidden-lg navbar-brand" href="/#page-top" title="Greater Rutland Makerspace">GRMS</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					{% if page.id %}
					<li class="page-scroll"><a href="/">Home</a></li> {% else %}
					<li class="hidden"><a href="#page-top"></a></li>
					<li class="page-scroll"><a href="#calendar">Calendar</a></li>
					<li class="page-scroll"><a href="#about">About</a></li>
					<li class="page-scroll"><a href="#join">Join</a></li>
					<li class="page-scroll"><a href="#people">People</a></li>
					<li class="page-scroll"><a href="#support">Support</a></li> {% endif %}
				</ul>
			</div>
		</div>
	</nav>

	{{content}}
	<div id="push"></div>
</div>

<footer class="text-center">
	<div class="footer-below">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 col-sm-4 copy">&copy; Rutland Makers 2017</div>
				<div class="col-xs-9 col-sm-8">{% include social.html %}</div>

			</div>
		</div>
	</div>
</footer>